header {
    display: flex;
    justify-content: center;
}

body {
    font-family: 'Georgia', serif;
    line-height: 1.6;
    font-size: 18px;
    background-color: #fafafa;
    color: #333;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
    color: #2c3e50;
}

.container {
    padding: 20px;
}

main {
    text-align: justify;
    padding: 20px 0;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
    color: #7f8c8d;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

